/* source: https://docs.asciidoctor.org/_/css/site.css */

:root {
  --monospace-font-weight-bold: 600;
  --caption-font-style: italic;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: 600;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr,
.hljs-template-variable,
.hljs-variable {
  color: teal;
}

.hljs-doctag,
.hljs-string {
  color: #d14;
}

.hljs-section,
.hljs-selector-id,
.hljs-title {
  color: #900;
  font-weight: 600;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: 400;
}

.hljs-class .hljs-title,
.hljs-type {
  color: #458;
  font-weight: 600;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: navy;
  font-weight: 400;
}

.hljs-link,
.hljs-regexp {
  color: #009926;
}

.hljs-bullet,
.hljs-symbol {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: grey;
  font-weight: 600;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 600;
  --body-font-weight-bold: 600;
  --color-gray-70: #5d5d5d;
  --caption-font-color: var(--color-gray-70);
  --caption-font-style: italic;
  --caption-font-weight: var(--body-font-weight-bold);
}

.title {
  color: #5d5d5d;
  font-size: 0.88889rem;
  font-style: italic;
  font-weight: 600;
  -webkit-hyphens: none;
  hyphens: none;
  letter-spacing: 0.01em;
  padding-bottom: 0.075rem;
}
