/* fonts */
@import url("https://fontsapi.zeoseven.com/7/main/result.css");
@import url("https://fonts.cdnfonts.com/css/fira-code-2");
@import url("https://fonts.cdnfonts.com/css/jetbrains-mono-2");
/* @import url("https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css"); */

:root {
  --background: #fffbf7;
  --foreground: #45372b;
  --accent: #df7020;
  --radius: 0;
  --font-size: 1rem;
  --line-height: 1.54em;
}

[data-theme="dark"] {
  --background: #1d2021;
  --foreground: #ebdbb2;
  --accent: #8ec07c;
}

body {
  font-family: Garamond, Baskerville, "New York", Georgia,
    "Zhuque Fangsong (technical preview)", "STFangsong", "FangSong", "仿宋", "华文仿宋",
    "Source Han Serif SC", "Source Han Serif TC", "Source Han Serif", "Noto Serif CJK SC",
    "Noto Serif CJK TC", "Noto Serif CJK", "Songti SC", STSong, "AR PL New Sung", "AR PL SungtiL GB",
    NSimSun, SimSun, "TW-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK",
    "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", serif;
  font-feature-settings: "halt";
}

/* more */

.header__logo {
  font-size: larger;
}

.menu__trigger,
.menu__dropdown {
  font-size: smaller;
}

.navigation-menu li {
  text-transform: uppercase;
}

/* .navigation-menu li::first-letter {
  font-size: larger;
  font-weight: bold;
}
*/

.navigation-menu {
  margin-left: 2rem;
}

.copyright .info {
  text-transform: uppercase;
}

.copyright .builder {
  font-size: smaller;
  font-style: italic;
}

.copyright .builder a {
  text-decoration: none;

}

.copyright .builder a::before {
  content: "\27A4";
  margin-right: 0.2rem;
}

.footer hr {
  border: none;
  height: 0.2rem;
  margin: 1rem auto;
  opacity: 0.35;
}

figure figcaption {
  background: var(--background);
  color: var(--accent);
  font-size: smaller;
}

li img {
  display: inline;
  height: var(--font-size);
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.index-cover img {
  display: inline;
  max-width: 200px;
  vertical-align: middle;
  padding: 0 auto;
  margin: 0 auto;
  border: 0px solid var(--accent);
  border-radius: var(--radius);
}

.container.full {
  max-width: 80%;
}

@media (max-width: 768px) {
  .container.full {
    max-width: 100%;
  }
}